@font-face {
  font-family: jost;
  src: url(../fonts/jost/v18/92zPtBhPNqw79Ij1E865zBUv7myjJQVG.ttf);
}
@font-face {
    font-family: mulish;
    src: url(../fonts/mulish/v13/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf);
}