:root {
  --font-jost: "jost";
  --font-mulish: "mulish";
}

.d-fl-alg-c {
  display: flex;
  align-items: center;
}
.d-fl-alg-c-jsc {
  display: flex;
  align-items: center;
  justify-content: center;
}
