* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.big__container {
  height: 100vh;
  width: 100%;
  background-color: rgb(246, 195, 204);
}
.average__container {
  position: relative;
  margin: 0 auto;
  height: 90vh;
  width: 80vw;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}
.average__cont-box {
  margin: 0 auto;
  padding: 0;
  width: 92%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.avr-box-first-wrapper {
  width: 50%;
}
.avr-box-img-cont {
  width: 430px;
  height: 80vh;
}
.avr-box-img-cont img {
  border-radius: 0 20% 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.second-wrapper-bottom-img {
  position: absolute;
  bottom: 0;
}
/*  */
.average__container-second-images {
  position: absolute;
  top: 0;
}
.avr-img1,
.avr-img2,
.avr-img3,
.avr-img4 {
  position: absolute;
  height: 100px;
}
.avr-img1 {
  top: 0;
}
.avr-img1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avr-img2 {
  right: 0;
  top: -10px;
}
.avr-img2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avr-img3 {
  right: -5px;
  bottom: 0;
}
.avr-img3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avr-img4 {
  bottom: -12px;
  left: 0;
}
.avr-img4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avr-box-second-wrapper {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.arv-second-wrapper-title-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.second-title-h1 {
  font-family: var(--font-mulish);
  font-weight: 900;
  font-size: 38px;
  max-width: 80%;
}
.second-title-parag {
  max-width: 550px;
  font-family: var(--font-jost);
  font-size: 17px;
}

/*  */

.register-button,
.signin-button {
  margin-top: 20px;
  padding: 7px 20px;
  margin-left: 15px;
  border: none;
  background-color: rgb(227, 165, 175);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  font-family: var(--font-mulish);
}
.register-button {
}
.signin-button {
}
/*  */
.average-box-links {
  margin-top: 25px;
  position: fixed;
  top: 70%;
}
.average-box-links-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fa-instagram,
.fa-telegram,
.fa-facebook {
  font-size: 24px;
  color: rgb(182, 136, 143);
}

/* FOrm */
.form-register {
  position: absolute;
  display: none;
}
.form-register-box,
.form-login-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.register-labels,
.login-labels {
  font-size: 12px;
  font-family: var(--font-mulish);
  font-weight: 500;
}
.register-inputs,
.login-inputs {
  padding: 6px 12px 5px 12px;
  outline: none;
  border: 1.7px solid rgb(182, 136, 143);
}
#register-inputs,
#login-inputs::placeholder {
  font-family: var(--font-jost);
}
.form-back-btn {
  position: absolute;
  left: 0;
  top: -30px;
}
.fa-arrow-left {
  cursor: pointer;
  font-size: 18px;
  color: rgb(182, 136, 143);
}
.formlogin-back {
  display: none;
}
/* FOrm Login */
.form-login {
  position: absolute;
  display: none;
}
.registerbtn-active {
  display: block;
}
.loginbtn-active {
  display: block;
}
.arvtitlebox-active {
  display: block;
}
.register-buttons-disabled {
  display: none;
}
.arv-title-box-disabled {
  display: none;
}
.form-login-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-register-btn {
  padding: 5px 15px 6px 15px;
  background-color: rgb(227, 165, 175);
  color: white;
  border: none;
  font-family: var(--font-mulish);
  /* font-weight: 500; */
  font-size: 16px;
  border-radius: 5px;
}

/* Validate Error */
.error .register-inputs {
  border: 2px solid red;
}
.error-paragraph {
  font-family: var(--font-jost);
  font-weight: 600;
  font-size: 12px;
  color: red;
  text-align: start;
}
