@font-face {
  font-family: mulish;
  src: url(../../../../temps/temp-two/font/Mulish-ExtraLight.ttf);
}
@font-face {
  font-family: monalisa;
  src: url(../../../fonts/MonallesiaScript-4BgXp.ttf);
}
