/* Для устройств шириной меньше 992px (планшеты и телефоны)
@media (max-width: 991.98px) {
  .main-title-h1 {
    font-size: 48px;
  }

  .main-title-smalltext {
    font-size: 28px;
  }

  .main-block-box {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .main-image-item1,
  .main-image-item2 {
    width: 300px;
    height: 300px;
  }

  .main-image-item1 {
    left: 0;
  }

  .main-galery-box,
  .top-guest-galery-box,
  .news-galery-box,
  .sponsor-box,
  .footer-box {
    flex-direction: column;
    align-items: center;
  }

  .main-galery-item-one,
  .main-galery-item-two,
  .main-galery-item3-child1-img,
  .main-galery-item3-child2-img {
    width: 90%;
  }

  .form-container {
    position: static;
    width: 100%;
    padding: 20px;
  }

  .guest-galery-item-img {
    width: 90%;
    height: auto;
  }

  .footer-itm1-child-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-itm1-child2 {
    margin-left: 0;
  }

  .form-submit {
    width: 100%;
  }
} */

/* Для устройств шириной 992px и выше (десктопы) */
@media (max-width: 1025px) {
  body .main-title-h1 {
    font-size: 54px;
  }
  body .main-image-item1 {
    height: 500px;
    width: 500px;
    left: -15%;
  }
  body .main-image-item2 {
    height: 400px;
    width: 400px;
  }
  body .main-title-suptitle {
    font-size: 20px;
  }
  body .main-title-smalltext {
    font-size: 25px;
  }
  body .main-galery-item-two {
    padding: 0;
  }
  body .main-galery-item3-child1-img,
  body .main-galery-item3-child2-img,
  body .main-galery-item2-child2-img,
  body .main-galery-item1-child1-img {
    height: 280px;
    width: 250px;
  }
  body .swiper-slide {
  }
  body .guest-galery-item-img {
    width: 190px;
    height: 250px;
  }
  body .news-galery-img {
    height: 380px;
    width: 300px;
  }
  body .news-galery-box {
    gap: 5px;
  }
  body .footer-box {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  body .footer-itm2-title-suptitle {
    max-width: 300px;
  }
  body .footer-itm1-child2 a {
    font-size: 16px;
  }
  body .sponsor-container{
    padding: 50px 0;
  }
}
