:root {
  --mulishfont: "mulish";
  --monalisafont: "monalisa";
  --mulishblock: "mulishblack";
  --darkwhite: #f8f8f8;
  --darkgray: #333;
}
/* .main-galery-item3-child2,
.main-galery-item3-child1,
.main-galery-item1-two,
.main-galery-item1-child1 {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.once-hr {
  width: 30%;
  height: 1px;
}
.twice-hr {
  margin-top: 5px;
  width: 20%;
  height: 1px;
}
li {
  list-style-type: none;
}

.footer-link:hover {
  text-decoration: underline;
}
.header-ul a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.header-ul a:hover {
  color: #b5a2bd;
  transition: all 0.3s;
}
marquee {
  width: 100%;
}