* {
  /* color: #333; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mulishfont);
  /* overflow-x: hidden; */
}
#myHeader {
  width: 100%;
  height: 126px;
  background-color: white;
}

.header-container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  transition: 2s all linear;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 0;
}

.logo {
  max-width: 200px;
  max-height: 100px;
  flex-shrink: 0;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.scrolled > .header-container {
  position: fixed;
  inset: 0;
  top: -100px;

  background-color: white;
  height: 100px;
  z-index: 9999;

  transform: translateY(100px);
  transition: 0.5s transform linear;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.8;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.icon-button img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.icon-button:hover {
  transform: scale(1.1);
}

.big-container {
  /* width: 100vw; */
  box-sizing: border-box;
}
/*  */
.main-section {
  /* height: 90vh; */
  padding: 50px 50px 30px 100px;
  width: 100%;
  background: #f8f8f8;
}
.main-block-box {
  /* max-width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1s;
}
.main-title {
  width: 100%;
}
.main-title-h1 {
  max-width: 640px;
  font-size: 100px;
  font-weight: 800;
  line-height: normal;
  background: url(../../../../temps/temp-two/img/text-bg.jpg) top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: var(--mulishblock);
  /* visibility: visible; */
}
.main-title-suptitle {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(181, 162, 189);
  /* font-family: var(--mulishblock); */
}
.main-title-smalltext {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 700;
  color: #87748f;
}
/*  */

.main-block-image-box {
  position: relative;
}
.main-image-item2 {
  /* max-height: 600px;
  max-width: 700px; */
  position: relative;
  background-color: #d9d9d9;
  border-radius: 50%;
  /* overflow: hidden; */
  border: 1px solid black;
  z-index: 5;
}
.main-image-item1 {
}
.main-image-item1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-image-item2 {
}
.main-image-item2 img {
  /* z-index: 5; */
}
.main-image-item2::before {
  /* content: url(/temps/temp-two/img/back-flower.png); */
  content: "";
  background-image: url(/temps/temp-two/img/back-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  /* width: 500px; */
  /* background-color: rebeccapurple; */
  transform: scale(2);
  transition: all 2s linear;
  animation: mainPhotoBG 2s linear;
}

@keyframes mainPhotoBG {
  0% {
    transform: scale3d(0);
  }
  100% {
    transform: scale3d(1.5);
  }
}
/* main galery */
.main-galery-big-cont {
  padding: 50px 0;
  /* width: 100vw; */
}
.main-galery-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-galery-item-one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 80px;
}
.main-galery-item1-two {
  position: relative;
}
.main-galery-item1-two-decoraion-img {
  height: 150px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.main-galery-item1-child1 {
  position: relative;
}
.main-galery-item1-child1-dec {
  height: 150px;

  position: absolute;
  top: -50px;
  left: -30px;
}
.main-galery-item1-child1-img {
  height: 330px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-galery-item1-child1-img img {
  border: 12px solid white;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-galery-item2-child2-img {
  height: 330px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-galery-item2-child2-img img {
  border: 12px solid white;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-galery-item1-child1-suptitle,
.main-galery-item1-child2-suptitle {
  text-align: center;
}

.main-g-item1-one-parag2,
.main-g-item1-two-parag2 {
  margin-top: 10px;
  font-weight: 800;
  color: rgb(181, 162, 189);
}
/*  */
.main-galery-item-two {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.main-galery-item-two-first-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-galery-two-itm1-first-person {
  height: 200px;
  width: 200px;
}
.main-galery-two-itm1-first-person img {
  padding: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #333;
}
.main-gl-item2-first-person-suptitle {
  margin-top: 15px;
  text-align: center;
}
.main-item2-first-parag {
  font-size: 26px;
  font-weight: 900;
}
.main-item2-second-parag {
  margin-top: 15px;
  max-width: 400px;
  text-wrap-style: balance;
}
/* links */
.main-item2-links {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  font-size: 14px;
  color: #333;
}
/*  */
.main-galery-item-two-title {
  margin-top: 20px;
}
.main-gl-item2-title-items {
  font-size: 54px;
  font-family: var(--monalisafont);
}
.main-galery-item-two-third-item {
  margin-top: 20px;
}
.main-galery-item-two-third-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-galery-two-itm1-third-person {
  height: 200px;
  width: 200px;
}
.main-galery-two-itm1-third-person img {
  padding: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #333;
}
/*  */
.main-galery-item3-child1-img {
  height: 330px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-galery-item3-child1-img img {
  border: 12px solid white;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-galery-item3-child2 {
  position: relative;
}
.main-galery-item3-child2-img {
  height: 330px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-galery-item3-child2-img img {
  border: 12px solid white;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-gl-decoraion-title {
  font-size: 20px;
  font-family: var(--monalisafont);
}
.main-galery-item3-child1 {
  position: relative;
}
.main-galery-item3-child1-decoration {
  height: 150px;
  position: absolute;
  top: -30px;
  right: -60px;
}
.main-galery-item3-child2-decoration {
  height: 150px;
  position: absolute;
  top: -30px;
  left: -40px;
}

/*  */

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
}
.swiper-galery-cont {
  animation-duration: 2s;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.swiper-slide {
  box-shadow: 0px 2px 12px 2px rgba(4, 0, 52, 0.1);
}
.swiper-slide-active {
}
.swiper-galery-img {
  width: 250px;
  height: 350px;
}
.swiper-galery-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 10px solid white;
}
/* Top Guests */
.top-guest-container {
  margin-top: 90px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-guest-galery-box {
  margin-top: 25px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  animation-duration: 2s;
}
.top-guest-title-box {
  margin-bottom: 15px;
  text-align: center;
  animation-duration: 4s;
  max-width: 500px;
}
.guest-title-title,
.programs-title,
.news-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 70px;
  color: #939580;
  font-family: var(--monalisafont);
}
.guest-title-suptitle,
.programs-suptitle,
.news-suptitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  color: #242424;
  font-family: var(--mulishfont);
  padding-bottom: 20px;
  /* animation-duration: 1s; */
}
.guest-galery-items {
}
.guest-galery-item-img {
  height: 440px;
  width: 330px;
  overflow: hidden;
  transition: all 1s;
  border: 10px solid white;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.guest-galery-item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* overflow: hidden; */
  transition: all 0.3s;
}
.guest-galery-item-img img:hover {
  transform: scale(1.2) !important;
}
.guest-item-names {
  margin-top: 10px;
  text-align: center;
}
.guest-itm-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #242424;
  font-family: var(--monalisafont);
}
.guest-itm-suptitle {
  margin-top: 10px;
  font-size: 16px;
  color: #515a44;
  font-weight: 600;
  /* font-family: var(--mulishfont); */
}

/* RSVP CONTAINER */
.rsvp-form-container {
  /* position: relative; */
}
.rsvp-backround-img {
  position: relative;
  height: 520px;
  /* background-image: url(/Wedding-plan/temps/temp-two/img/rsvp-bg.jpg); */
  background-image: url(/temps/temp-two/img/rsvp-bg.jpg);
  background-size: cover;
  /* margin-bottom: 90px; */
}
.form-container {
  position: absolute;
  left: 18%;
  padding: 40px 60px 40px;
  max-width: 450px;
  height: 100%;
  background-color: white;
  animation-duration: 2s;
}
#form {
}
.form-title {
  font-size: 26px;
  font-family: var(--monalisafont);
}
.form-inputs {
  width: 100%;
  /* height: 40px; */
  margin-top: 20px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  border-bottom: 1px solid #ababab;
  outline: none;
  padding-bottom: 5px;
}

.rsvp-form-radio-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.rsvp-radio-input2 {
  margin-left: 10px;
}
.form-options {
  width: 100%;
  /* height: 40px; */
  /* margin-bottom: 20px; */
  border: 0;
  font-size: 15px;
  font-weight: 600;
  background: transparent;
}
#mealprefer,
#guest-numbers {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ababab;
  margin-top: 15px;
  font-family: var(--mulishfont);
}
.form-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-submit {
  margin-top: 20px;
  padding: 10px 45px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #707070;
  color: white;
}

/* Programs Container */
.programs-container {
  padding: 120px 0;
  max-width: 100vw;
}
.programs-box {
}
.programs-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  animation-duration: 1.5s;
  margin-bottom: 60px;
}
.programs-sup-title-box {
  /* margin-top: 60px; */
  font-style: normal;
  text-align: center;
  margin-bottom: 100px;
}
.programs-date,
.programs-place {
  font-size: 30px;
  color: #707070;
  line-height: 60px;
  font-weight: 600;
}

.programs-items-wrapper {
  position: relative;
  padding-bottom: 120px;
}
.programs-items-img-box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 40px;
  margin: 0 auto;
  /* max-width: 1730px; */
}

.programs-items {
  height: 100px;
  width: 100px;
  text-align: center;
}
/*  */
.programs-items-img {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}
.programs-items-img i {
  display: block;
  margin-bottom: 20px;
}
.programs-items-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.programs-items-img::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  width: 2px;
  height: 60px;
  content: "";
  background: #b5a2bd;
  z-index: 1;
}

.program-itm-span {
  font-size: 12px;
  max-width: 20px;
}
.line {
  position: absolute;
  left: 0.5%;
  bottom: 10px;
  height: 3px;
  content: "";
  width: 99%;
  background: #b5a2bd;
}
.line::before {
  position: absolute;
  top: -8px;
  left: -7px;
  width: 17px;
  height: 17px;
  background: #b5a2bd;
  content: "";
  border-radius: 50%;
}
.line::after {
  position: absolute;
  bottom: -8px;
  right: -7px;
  width: 17px;
  height: 17px;
  background: #b5a2bd;
  content: "";
  border-radius: 50%;
}
/* NEws */
.news-container {
  padding-bottom: 90px;
  padding-top: 90px;
  background-color: #f8faff;
}
.news-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.news-title-box {
  text-align: center;
  animation-duration: 2s;
}

.news-galery-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
  animation-duration: 2s;
}
.news-galery-images-box {
  padding-bottom: 20px;
  background-color: white;
  border: 15px solid white;
  /* padding: 15px; */
  border-radius: 300px 300px 0 0;
  box-shadow: 0px 2px 12px 2px rgba(4, 0, 52, 0.1);
  overflow: hidden;
}
.news-galery-img {
  height: 505px;
  width: 389px;
  overflow: hidden;
  /* transition: all 1s; */
}
.news-galery-img img {
  border-radius: 208px 208px 0 0;
  /* border: 10px solid white; */
  height: 100%;
  width: 100%;
  transition: transform 0.3s;
  object-fit: cover;
}
.news-galery-img img:hover {
  transform: scale(1.2) rotate(5deg);
  overflow: hidden;
}

.news-galery-date {
  margin-top: 10px;
}
.galery-txt {
  padding-left: 10px;
  font-size: 12px;
  color: #707070;
  /* font-weight: 600; */
}
.news-galery-suptitle {
}
.galery-suptitle-parag {
  cursor: pointer;
  max-width: 300px;
  padding-left: 10px;
  padding-top: 10px;
  color: #242424;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
}
.galery-suptitle-parag a {
}
/* Sponsors container */
.sponsor-container {
  padding: 90px 0;
  width: 100%;
}
.sponsor-box {
  /* margin: 0 auto; */
  width: 80%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
}
.sponsor-items {
  /* height: 100px; */
}
.sponsor-items img {
  margin: 0 auto;
  width: auto;
  display: inline-block;
  padding: 0;
}
/* Footer */
.footer {
  padding-top: 120px;
  padding-bottom: 120px;
  /* height: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #96a4bc;
  position: relative;
  overflow: hidden;
}
.footer-box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-item1 {
}
.footer-itm1-child-wrapper {
  display: flex;
  align-items: center;
}
.footer-item1-title {
  font-size: 40px;
  color: white;
  font-weight: 400;

  font-family: var(--monalisafont);
}
.footer-itm1-child1,
.footer-itm1-child2 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.footer-itm1-child1 a,
.footer-itm1-child2 a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.footer-itm1-child2 {
  margin-left: 50px;
}

.footer-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-item2-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-itm2-title-suptitle {
  text-align: center;
  max-width: 400px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 1.8em;
}
.footer-itm2-links {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-itm2-link-itm {
  border-radius: 50%;

  width: 45px;
  height: 45px;
  line-height: 49px;
  text-align: center;
  border: 1px solid white;
}
.fa-brands {
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  font-size: 18px;
  color: white;
}
.footer-item3 {
}
.footer-item3-title {
  font-size: 40px;
  font-weight: 400;
  color: white;
  font-family: var(--monalisafont);
}
.footer-item3-box {
  text-align: center;
}
.footer-item3-parag1 {
  font-size: 18px;
  color: white;
  line-height: 1.8em;
  font-weight: 600;
}
.footer-item3-parag2 {
  margin-top: 15px;
  max-width: 280px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 1.8em;
  text-align: center;
}
.footer-second-cont {
  padding: 35px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  border-color: #a1b3d3;
  text-align: center;
}
.footer-second-cont p {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  margin: 0;
  font-weight: 600;
}
