@font-face {
    font-family: Monallesia;
    src: url(../../fonts/MonallesiaScript-4BgXp.ttf);
}

@font-face {
    font-family: Mulish-ExtraLight;
    src: url(../../fonts/Mulish-ExtraLight.ttf);
}

* {
    font-size: 16px;
    font-weight: 400;
    font-family: Mulish-ExtraLight;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
}


/* #myHeader {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
    z-index: 999;
    transition: ease-out 0.3s;
} */

/* .myHeader {
    position: sticky !important;
} */

.header-container {
    max-width: 1380px;
    margin: 0 auto;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 1px 1px 12px; */
    gap: 50px;
}

.logo {
    max-width: 200px;
    max-height: 100px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-icons {}

.icon-button {}







.main-container {}

.first-section {
    margin-left: 50px;
}

.fr-sec-block {
    display: flex;
    justify-content: center;
    align-items: end;
}

.fr-sec-left-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fr-sec-rishetka {
    width: 100%;
    height: 750px;
    z-index: 1;
}

.fr-sec-para {
    width: 600px;
    height: 834px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 2;
}



.fr-sec-right-block {
    width: 700px;
    height: 100%;
    background-color: var(--first-sec-right-bg);
    border-radius: 0px 90% 0px 0px;
}

.fr-sec-datas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 250px 150px 150px;
    /* padding: auto; */
    gap: 70px;
}

.fr-sec-datas-names>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: var(--font-family-monallesia);
    line-height: 110px;
}

.fr-sec-datas-text {
    width: 330px;
    font-size: 25px;
    line-height: 35px;
    text-transform: capitalize;
}

.fr-sec-datas-date {
    font-size: 50px;
    line-height: 35px;
    font-weight: 100%;
    color: var(--color-two);
}