:root{
    /* BG Colors */
    --first-sec-right-bg: #dfb1d3;
    /* BG Colors */

    /* Colors */
    --color-one: #323232;
    /* Colors */

    /* Font Family */
    --font-family-monallesia: Monallesia;
    /* Font Family */
}