@font-face {
  font-family: Monallesia;
  src: url(../../fonts/MonallesiaScript-4BgXp.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Mulish-ExtraLight;
  src: url(../../fonts/Mulish-ExtraLight.ttf) format("truetype");
  font-display: swap;
  font-weight: 200;
}

* {
<<<<<<< HEAD
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: Mulish-ExtraLight, sans-serif;
  color: #333;
=======
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: Mulish-ExtraLight, sans-serif;
    color: #333;
    /* overflow: hidden; */
<<<<<<< HEAD
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* body,
html {
    overflow-x: hidden;
} */



/* HEADER STYLES */
#myHeader {
<<<<<<< HEAD
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 126px;
    background-color: white;
    z-index: 9999;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.2s linear, opacity 0.2s linear;
=======
  width: 100%;
  height: 126px;
  background-color: white;
>>>>>>> 9034cae0281d13eb86b3117aa3c3b24e11f012a8
}


#myHeader.fixed {

    position: fixed;
    inset: 0;
    top: -100px;

    background-color: white;
    z-index: 9999;

    transform: translateY(100px);
    transition: 0.5s transform linear;
}


#myHeader.hidden {
    transform: translateY(-120%);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.2s linear;
}


.header-container {
<<<<<<< HEAD
<<<<<<< HEAD
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  transition: 2s all linear;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 0;
=======
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
    max-width: 1490px;
    margin: 0 auto;
    padding: 10px 20px;
    transition: 2s all linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
}

.logo {
  max-width: 200px;
  max-height: 100px;
  flex-shrink: 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.scrolled > .header-container {
  position: fixed;
  inset: 0;
  top: -100px;

  background-color: white;
  height: 100px;
  z-index: 9999;

  transform: translateY(100px);
  transition: 0.5s transform linear;
}

<<<<<<< HEAD
<<<<<<< HEAD
.nav-links a {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.8;
}
=======

.btn-secondary {
    background: transparent !important;
    color: #333 !important;
    border: none !important;
}
=======

.btn-secondary {
    background: transparent !important;
    color: #333 !important;
    border: none !important;
}

>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088

>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088

.header-icons {
  display: flex;
  gap: 15px;
}

.icon-button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

<<<<<<< HEAD
<<<<<<< HEAD
/* FIRST SECTION STYLES */
.first-section-container {
  /* position: relative; */
  width: 99vw;
  /* height: 900px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.fr-sec-tex-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
=======
/* names */

.fr-sec-tex-block {
=======
/* names */

.fr-sec-tex-block {
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
<<<<<<< HEAD
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
}

.fr-sec-uzor {
  width: 250px;
  height: 100px;
  object-fit: contain;
}

<<<<<<< HEAD
.fr-sec-names > span {
  font-size: clamp(40px, 5vw, 70px);
  line-height: 1.2;
  font-family: Monallesia, cursive;
  display: block;
  margin-bottom: 10px;
}

.fr-sec-names > p {
  font-size: clamp(18px, 2vw, 25px);
  line-height: 1.4;
  font-weight: 800;
  text-transform: capitalize;
  padding: 20px;
=======
.fr-sec-names>span {
    font-size: 60px;
    line-height: 1.2;
    font-family: Monallesia, cursive;
    display: block;
    margin-bottom: 10px;
}

.fr-sec-names>p {
    font-size: 25px;
    line-height: 1.4;
    font-weight: 800;
    text-transform: capitalize;
    padding: 20px;
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
}


/* names */


/* swiper section */

.fr-sec-swp-block {
  /* position: relative; */
  /* height: 600px; */
}

.swiper {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 99vw;
  height: 100vh;
=======
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
    width: 100%;
    height: 100vh;
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: gray;
}


/* TIMER STYLES */
/* .section__timer{
    height: 570px;
} */
.timer {
<<<<<<< HEAD
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 5;
  transform: translateY(-100px);
  /* margin-bottom: 50px; */
  /* z-index: 10; */
  /* position: absolute; */
  /* bottom: -120px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.timer-container {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #334733;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.timer-container {
  width: 230px;
  height: 230px;
  /* ... остальные стили ... */
}

=======
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: -120px;
    position: relative;
    z-index: 11;
}

.timer-container {
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #334733;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

<<<<<<< HEAD
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
.timer-container:hover {
  transform: scale(1.05);
}

.timer-contant {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
}

.timer-value {
  font-size: clamp(40px, 5vw, 72px);
  font-weight: bold;
  color: white;
  padding: 15px 15px 5px;
  line-height: 1;
}

.timer-label {
  font-size: clamp(16px, 2vw, 24px);
  color: white;
  text-transform: uppercase;
}

/* swiper section */




<<<<<<< HEAD
<<<<<<< HEAD



/* SECOND SECTION (PLACEHOLDER) */

.second-section {
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 250px;
}

.second-section-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding: 35px 0px;
}

.second-section-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #334733;
}

.sec-left-text {
    max-width: 400px;
    text-align: end;
}

.sec-nevesta {
    display: flex;
    justify-content: end;
    align-items: end;
}

.sec-left-h2 {}

.sec-left-p {}




.sec-text-block {
    padding: 50px 0px;
}

.sec-icons {}

.sec-title {
    font-size: 35px;
    font-weight: 800;
    line-height: normal;
    color: #E8E8E8;
}

.sec-text {
    font-size: 18px;
    line-height: 32.4px;
    color: #E8E8E8;
}



.sec-right-text {
    max-width: 400px;
}

.sec-jenix {
    display: flex;
    justify-content: start;
    align-items: start;
}

.sec-right-h2 {}

.sec-right-p {}


.sec-para-img {

    width: 600px;
    /* height: 100%; */
    position: absolute;
    /* left: 50%; */
    transform: translateX(75%);
=======
/* social section */
.social__parent {
    height: 1000px;
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
=======
/* social section */
.social__parent {
    height: 1000px;
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container {
    width: 100%;
    background-color: #334733;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-clip: content-box;
    padding: 30px 0;

}



.social-block {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;



}

.social-left-text {
    max-width: 300px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 10px;
    padding: 80px 0px;
}

.social-girl-icon {
    width: 60px;
    height: 60px;
}

.social-girl-name {
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 800;
}

.socail-text {
    font-size: 18px;
    line-height: 32.4px;
    color: #E8E8E8;
    font-weight: 600;
}

.social-left-icons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
}

.social-right-text {
    max-width: 300px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 80px 0px;
}

.social-guy-icon {
    width: 60px;
    height: 60px;
}

.social-guy-name {
    font-size: 35px;
    color: #ffffff;
    font-weight: 800;
}

.social-right-icons {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.social-left-icons,
.social-right-icons>img {
    width: 30px;
    height: 30px;
}

.social-img-border {
    border-radius: 500px;
    padding: 50px;
    border: 1px solid #333;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-cuple-img {
    border-radius: inherit;
}

.social-cuple-img>img {
    width: 100%;
    border-radius: inherit;
}

/* social section */










/* story section */

.section__story {}

.container__story {
    max-width: 1320px;
    margin: 0 auto;
}

.story-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-h2 {
    font-size: 35px;
    line-height: 70px;
    font-family: Monallesia;
    color: #939580;
}

.text-p {
    font-size: 40px;
    line-height: 58px;
    font-weight: 800;
    color: #242424;
}
<<<<<<< HEAD

.title-hr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hr1 {
    width: 500px;
    border: 1px solid orange;
}

.hr2 {
    width: 300px;
    border: 1px solid orange;
}

.container_story_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_story_content-1 {}

.container_story_content_left_side {}

.container_story_content_right_side {}

.container_story_content_right_side_text {}

.container_story_content_right_side_text_parag {}

.container_story_content_right_side_text_parag_txt {}

/* story section */
=======

.title-hr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hr1 {
    width: 500px;
    border: 1px solid orange;
}

.hr2 {
    width: 300px;
    border: 1px solid orange;
}

.container_story_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_story_content-1 {}

.container_story_content_left_side {}

.container_story_content_right_side {}

.container_story_content_right_side_text {}

.container_story_content_right_side_text_parag {}

.container_story_content_right_side_text_parag_txt {}

/* story section */







>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088













=======
  width: 100%;
  height: 100%;
}

.second-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-left-container {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 20px 0px;
}

.sec-left-block {
  width: 100%;
  height: 100%;
  background-color: #334733;
  text-align: end;
}

.sec-left-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.sec-left-nevesta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.sec-left-h2,
.sec-left-p {
  max-width: 300px;
  color: white;
}

.sec-mid-container {
}

.sec-mid-block {
}

.sec-right-container {
  width: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 20px 0;
}

.sec-right-block {
  width: 100%;
  height: 100%;
  background-color: #334733;
  text-align: end;
  text-align: start;
}

.sec-right-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sec-left-jenix {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}

/* SECOND SECTION */
>>>>>>> 9034cae0281d13eb86b3117aa3c3b24e11f012a8

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 992px) {
  .header-block {
    gap: 30px;
  }

  .nav-links {
    gap: 15px;
  }

  .timer-container {
    width: 140px;
    height: 140px;
  }

  .timer-contant {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .fr-sec-tex-block {
    flex-direction: column;
  }

  .fr-sec-uzor {
    display: none;
  }

  .timer {
    gap: 15px;
  }

  .timer-container {
    width: 120px;
    height: 120px;
  }

  .timer-contant {
    width: 100px;
    height: 100px;
  }

  .timer-value {
    padding: 10px 10px 5px;
  }
}

@media (max-width: 992px) {
  .timer {
    gap: 20px;
  }

  .timer-container {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 768px) {
  .fr-sec-swp-block {
    margin-top: 80px;
    height: 400px;
  }

  .timer {
    top: -40px;
    gap: 10px;
  }

  .timer-container {
    width: 100px;
    height: 100px;
  }

<<<<<<< HEAD
    .timer-contant {
        width: 90px;
        height: 90px;
    }
}



@keyframes kenburn {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    100% {

        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
  .timer-contant {
    width: 90px;
    height: 90px;
  }
}
>>>>>>> 9034cae0281d13eb86b3117aa3c3b24e11f012a8
=======
=======
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088

@keyframes valna {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: scale(2.1);
        opacity: 0;
    }
<<<<<<< HEAD
}
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
=======
}
>>>>>>> a47450c5ba7db5d856e65cb0e12ad8b8b84c4088
