@font-face {
  font-family: Monallesia;
  src: url(../../assets/fonts/MonallesiaScript-4BgXp.ttf);
}

@font-face {
  font-family: Mulish-ExtraLight;
  src: url(../../assets/fonts/Mulish-ExtraLight.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WEDDING CONTANT STARTS */

.wedding_container_content {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.left_content {
  background: url(../../img/tempFour/svg.svg) no-repeat;
}

.right_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5e9f6;
  border-top-right-radius: 600px;
  text-align: center;
  max-width: 600px;
  width: 650px;
  height: 900px;
}

.text {
  color: #333;
  font-family: Monallesia;
  font-size: 35px;
}

.text div {
  font-family: Mulish-ExtraLight;
  font-size: 35px;
  font-weight: 700;
}

.bottom_img {
  display: flex;
  justify-content: center;
  margin-top: -250px;
}

.flowers {
  z-index: 2;
}

/* WEDDING CONTANT ENDS */

/* TEMPLATE FOUR TIMER STYLES STARTS */

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  transform: translateY(-100px);
}

.timer-container {
  max-width: 280px;
  margin: 150px 60px 0 0;
  position: relative;
  background-color: #f5e9f6;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.timer-container::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timer-container-1::before {
  top: 20%;
  left: -40%;
  background-image: url(../../img/tempFour/timer-flower1.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 5;
}

.timer-container-2::before {
  top: -30%;
  left: -40%;
  background-image: url(../../img/tempFour/timer-flower2.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 5;
}

.timer-container-3::before {
  top: 20%;
  left: -40%;
  background-image: url(../../img/tempFour/timer-flower1.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 5;
}

.timer-container-4::before {
  top: -30%;
  left: -40%;
  background-image: url(../../img/tempFour/timer-flower2.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 5;
}

.timer-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 1%;
  border: 1px solid black;
  border-radius: 50%;
}

.timer-contant {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.timer-value {
  font-size: clamp(40px, 5vw, 72px);
  font-family: Monallesia;
  color: black;
  padding: 15px 15px 5px;
  line-height: 1;
}

.timer-label {
  font-size: clamp(16px, 2vw, 24px);
  color: black;
  text-transform: uppercase;
  font-family: Mulish-ExtraLight;
}

/* TEMPLATE FOUR TIMER STYLES ENDS */

/* TEMPLATE FOUR NEWS STYLES STARTS */

.news-container {
  padding-bottom: 90px;
  padding-top: 90px;
  background-color: #fef6fe;
}

.news-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.once-hr {
  width: 600px;
  height: 2px;
  color: #707070;
}

.twice-hr {
  margin-top: 5px;
  width: 500px;
  height: 2px;
  color: #707070;
}

.news-title-box {
  text-align: center;
  animation-duration: 2s;
}

.news-galery-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
  animation-duration: 2s;
}

.news-galery-images-box {
  padding-bottom: 20px;
  background-color: white;
  border: 15px solid white;
  /* padding: 15px; */
  border-radius: 300px 300px 0 0;
  box-shadow: 0px 2px 12px 2px rgba(4, 0, 52, 0.1);
  overflow: hidden;
}

.news-galery-img {
  height: 505px;
  width: 389px;
  overflow: hidden;
  /* transition: all 1s; */
}

.news-galery-img img {
  border-radius: 208px 208px 0 0;
  /* border: 10px solid white; */
  height: 100%;
  width: 100%;
  transition: transform 0.3s;
  object-fit: cover;
}

.news-galery-img img:hover {
  transform: scale(1.2) rotate(5deg);
  overflow: hidden;
}

.news-galery-date {
  margin-top: 10px;
}

.galery-txt {
  padding-left: 10px;
  font-size: 17px;
  line-height: 25px;
  color: #707070;
  font-family: Mulish-ExtraLight;
  font-weight: 600;
}

.news-suptitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  color: #242424;
  font-family: Mulish-ExtraLight;
  padding-bottom: 20px;
  /* animation-duration: 1s; */
}

.galery-suptitle-parag {
  cursor: pointer;
  max-width: 300px;
  padding-left: 10px;
  padding-top: 10px;
  color: #242424;
  text-decoration: none;
  font-size: 24px;
  line-height: 35px;
  font-weight: 900;
  font-family: Mulish-ExtraLight;
}

.news-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 70px;
  color: #939580;
  font-family: Monallesia;
}

/* TEMPLATE FOUR NEWS STYLES ENDS */

/* TEMPLATE FOUR BOOK STYLES STARTS */

/* OTHER ITEMS - ON SCROLL */

.example {
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

.imgblock {
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: rotate(15deg);
}

.reverse > .imgblock {
  transform: rotate(-15deg);
}

.reverse > .textblock {
  transform: rotate(15deg);
}

.text__block {
  height: 300vh;
}

.shape1 {
  position: absolute;
  top: 150px;
  left: 0;
}
.shape2 {
  position: absolute;
  top: 150px;
  right: 0;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-1 {
  height: 100vh;
  position: sticky;
  top: 30px;
}
.child-2 {
  height: 100vh;
  position: sticky;
  top: 30px;
}
.child-3 {
  height: 100vh;
  position: sticky;
  top: 30px;
}

/* ONLY TEXT STYLES STARTS */

.textblock {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px;
  gap: 20px;
  border: 1px solid rgba(184, 184, 184, 0.3);
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.6) 13.65%,
    rgba(255, 255, 255, 0.3) 91.31%
  );
  box-shadow: 0px 20px 20px 0px rgba(62, 62, 62, 0.05);
  backdrop-filter: blur(10px);
  transform: rotate(-15deg);
  text-align: center;
}

.text__block__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pages-name {
  font-size: 32px;
  color: #242424;
  font-family: Monallesia;
  font-weight: bold;
}

.pages-name-parag {
  font-size: 18px;
  color: #caa6c7;
  font-family: Mulish-ExtraLight;
  font-weight: bold;
}

.pages-name-txt {
  font-size: 19px;
  color: #707070;
  font-family: Mulish-ExtraLight;
  font-weight: bold;
}

/* ONLY TEXT STYLES ENDS */

/* TEMPLATE FOUR BOOK STYLES ENDS */
